<h1>Flats#index</h1>
<p>Find me in app/views/flats/index.html.erb</p>
<% @flats.each do |flat| %>
  <div class="card">
    <h4><%= flat["name"]  %></h4>
    <%= image_tag flat["imageUrl"], alt: "alttext", width: "300px" %>
    <p><%= flat["price"] %> <%=flat["priceCurrency"] %></p>
    <%= link_to "", flat_path(flat["id"]), class: 'card-link' %>
  </div>
<% end %>
