<div class="container">
  <div class="row my-3">
    <h1>Flats</h1>
  </div>
  <div class="row justify-center">
    <div class="cards">
      <% @flats.each do |flat| %>
        <div class="card-white">
          <%= image_tag flat["imageUrl"], alt: "alttext", width: "100%" %>
          <%= link_to "", flat_path(flat["id"]), class: 'card-link' %>
          <div class="card-info">
            <h6><%= flat["name"]  %></h6>
            <small><%= flat["price"] %> <%=flat["priceCurrency"] %></small>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
